@media (max-width: 1455px) {
    .top-reviews .top-reviews_wrapper .top-reviews_item {
        width: 340px;
    }

    .aside {
        width: 20%;
    }

    .aside .categories .review_theme li {
        padding: 1px 20px;
    }

    .select_object {
        width: 80%;
        height: 60px;
    }

    .first_step button {
        height: 60px;
        width: 15%;
    }

    .main_review_text::after {
        width: 105%;
    }

    .comments {
        margin-top: 53px;
        padding: 30px 35px 20px 50px;
    }

    .tags_list {
        margin-top: 40px;
    }

}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .header_wrapper {
        padding: 16px 0 16px 0;
    }

    .header_button {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
   
    .buttons {
        width: 150px;
        padding: 0;
    }

    .header_wrapper .header_button .header_register-entry {
        margin-top: 10px;
    }

    .header_wrapper .menu_list {
        padding: 0;
        text-align: center;
    }

    .header_wrapper .menu_list .menu_item {
        padding-right: 20px;
    }

    .main_wrapper {
        min-height: 0;
    }

    .main_wrapper .main_title {
        margin: 0;
    }

    .main_wrapper .main_title .main_header {
        font-size: 32px;
        line-height: 36px;
        margin-left: 50px;
        margin-top: 40px;
    }

    .main_wrapper .main_title .main_descr {
        margin: 30px 0 30px 50px;
    }

    .main_wrapper .main_image {
        margin: auto;
    }

    .top-reviews {
        width: 70%;
    }

    .top-reviews .top-reviews_wrapper {
        margin-top: 50px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item {
        width: 550px;
        max-width: none;
        margin-left: 60px;

        margin-bottom: 28px;
    }

    .aside {
        width: 30%;
    }

    .second_step .add_review_text {
        margin-top: 10px;
    }

    .advantages label, .disadvantages label {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .advantages label span, .disadvantages label span {
        margin: 0;
    }

    .main_review {
        margin-top: 50px;
    }

    .review_rating {
        left: 88%;
    }

    .review_buttons {
        font-size: 14px;
    }

    .review_buttons .complain {
        width: 150px;
    }

    .review_buttons .complain::before {
        left: 14px;
    }

    .review_buttons .dislike_number {
        margin-right: 15px;
        width: 0;
    }

    .review_buttons .like_number {
        margin-right: 30px;
    }

    .reply_date {
        padding-left: 18px;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .main_wrapper .main_title .main_header {
        font-size: 26px;
        line-height: 28px;
    }

    .main_wrapper .main_title .main_descr {
        margin: 30px 0 30px 50px;
        font-size: 16px;
    }

    .footer_wrapper {
        margin: 30px auto 20px auto;
    }

    .reviews_wrapper {
        flex-wrap: wrap;
        padding-top: 55px;
    }

    .top-reviews {
        width: 100%;
        order: 2;
    }

    .aside {
        width: 100%;
        order: 1;
    }

    .aside .categories span {
        margin-top: 25px;
        text-align: center;
    }

    .aside .categories .review_theme {
        margin-top: 20px;
        justify-content: center;
    }

    .aside_adv {
        margin-top: 40px;
    }

    .aside_adv img {
        display: none;
    }
    .aside_adv {
        height: 90px;
        background: url('../img/footer_adv.png') center center/cover no-repeat;
    }

    .top-reviews .top-reviews_header {
        margin-top: 20px;
        text-align: center;
    }

    .top-reviews .top-reviews_subheader {
        text-align: center;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item {
        width: 650px;
    }

    .step {
        padding: 32px 42px 32px 42px;
    }

    .first_step::before {
        left: 60px;
    }

    .second_step::before {
        left: 60px;
    }

    .comments_wrapper {
        margin-top: 26px;
    }

    .comments_title {
        font-size: 20px;
    }

    .comments_replies {
        padding: 14px 30px 30px 30px;
    }

    .reply_to_reply {
        padding: 13px 20px 25px 20px;
    }

    .comment_add {
        margin-top: 30px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }

/* начало гамбурера  */
    .hamburger {
        display:block;
        position:absolute;
        right: 10px;
        top: 50px;
        -webkit-transform:translateY(-50%);
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
    }
    
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #18A0FB;
        margin-bottom: 2px;
        -webkit-transition: 0.5s all;
        transition: 0.5s all
    }

    .hamburger_active span {
        margin-bottom:-2px
    }

    .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
        transform: translateY(3px) rotate(-45deg);
    }

    .hamburger_active span:nth-child(2){
        display: none;
    }

    .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
        transform: translateY(3px) rotate(45deg)
    }

    .menu_list{
        position: fixed;
        box-orient: vertical;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 30%;
        height: 100vh;
        padding: 20px 15px;
        background-color: #18A0FB;
        transition: 0.6s all;transition:0.6s all;
        z-index: 1000;
    }

    .menu_active {
        left:0;
        padding-left: 15px;
    }

    .header_wrapper .menu_list .menu_item {
        margin-bottom: 30px;
    }

    .header_wrapper .menu_list .menu_item a {
        color: #fff;
    }

    /* конец гамбургера */

    .header_button {
        width: 60%;
        flex-direction: row;
        justify-content: start;
    }

    .buttons {
        width: 130px;
        font-size: 10px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 450px;
    }

    .adv_wrapper {
        height: 90px;
    }

    .adv_wrapper img {
        height: 90px;
    }

    .footer_wrapper {
        height: 60px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer_wrapper .footer_logo {
        width: 200px;
    }

    .modal__dialog {
        width: 520px;
    }

    .step_title {
        font-size: 24px;
        margin-left: 90px;
    }

    .step_desrc {
        font-size: 13px;
        margin: 10px 0 15px 90px;
    }

    .first_step::before {
        width: 55px;
        height: 70px;
        top: 45px
    }

    .second_step::before {
        width: 55px;
        height: 55px;
    }

    .select_object {
        padding: 10px 15px;
        height: 40px;
        width: 70%;
    }

    .first_step button  {
        width: 25%;
        height: 40px;
        font-size: 12px;
    }

    .second_step .add_review_text {
        padding: 15px;
        height: 150px;
    }
    
    .input_file_btn {
        padding: 13px 18px 13px 42px;
    }

    .pros_and_cons {
        flex-direction: column;
    }

    .pros_and_cons .advantages, .pros_and_cons .disadvantages {
        width: 100%;
        margin-bottom: 20px;
    }

    .advantages textarea, .disadvantages textarea {
        margin-bottom: 15px;
        padding: 15px;
        height: 150px;
    }

    .pros_and_cons .disadvantages {
        margin-bottom: 0;
    }

    .add_review_form .rating {
        margin: 15px 0 0 0px;
    }

    .add_review_rating {
        font-size: 28px;
    }

    .add_review_form .rating span {
        font-size: 15px;
    }

    .add_review_button {
        margin-left: 70px;
    }

    .review_wrapper h1 {
        margin: 0;
        font-size: 24px;
    }

    .tags_list {
        margin-top: 20px;
    }

    .tags li {
        padding: 5px;
        text-align: center;
    }

    .review_wrapper {
        padding-left: 0;
    }

    .main_review  {
        padding: 20px;
    }

    .review_foto {
        top: 30px;
        left: 0;
    }

    .review_rating { 
        left: 75%;
        top: -25px;
    }

    .review_about {
        margin-left: 90px;
        margin-top: 22px;
    }

    .main_review .review_about {
        margin-top: 0;
    }

    .main_review_text::after {
        width: 105%;
    }

    .comments {
        padding: 15px 17px 10px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .comments_replies {
       padding: 14px 15px 15px 15px;
    }

    .comment_add {
        display: inline-block;
        width: 200px;
        font-size: 13px;
        text-align: center;
    }

    .other_review {
        padding: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 450px;
    }

    .header_register-entry, .header_add-revie  {
        position: relative;
        visibility: hidden;
        right: 100%;
    }

    .header_register-entry::before, .header_add-revie::before {
        content: "";
        display: block;
        position: absolute;
        visibility:visible;
    }

    .header_register-entry::before {
        background: url('../icons/account_check.svg') center center/cover no-repeat;
        top: -5px;
        left: 300px;
        width: 40px;
        height: 40px;
    }

    .header_add-revie::before {
        background: url('../icons/add_review.svg') center center/cover no-repeat;
        left: 350px;
        width: 34px;
        height: 34px;
    }

    .hamburger {
        top: 40px;
    }

    .main_wrapper {
        flex-direction: column;
    }

    .main_wrapper .main_title {
        width: 100%;
        order: 1;
        padding: 30px;
    }

    .main_wrapper .main_title .main_header {
        margin: 0;
    }

    .main_wrapper .main_title .main_descr {
        margin: 0;
        margin-top: 15px;
    }

    .main_wrapper .main_image {
        order: 0;
        width: 100%;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item  {
        width:  350px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item h2 {
        width: 200px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_text {
        margin: 10px 0 0 50px;
    }

    .text_review::before {
        top: -13px;
    }

    .footer_wrapper .footer_logo {
        margin-right: 10px;
        width: 150px;
    }

    .footer_wrapper .footer_support a, .footer_wrapper .footer_privacy a{
        font-size: 10px;
    }

    .modal__dialog {
        width: 410px;
    }

    .modal__title {
        font-size: 26px;
    }

    .modal__close {
        width: 30px;
        height: 30px;
        ;line-height: 30px;
    }

    .modal__input {
        height: 30px;
        margin: 15px;
    }

    .modal .btn {
        width: 100px;
        height: 30px;
        line-height: 0;
    }

    .add_review_wrapper h1 {
        font-size: 24px;
        margin: 10px 0 20px 0;
    }

    .add_review_form {
        margin-top: 0;
    }

    .first_step::before, .second_step::before {
        display: none;
    }

    .step {
        padding: 20px;
    }
    .step_title, .step_desrc {
        margin: 10px 0 15px 0;
    }

    .step_title {
        font-size: 20px;
    }

    .step_desrc {
        font-size: 12px;
    }

    .input_wrapper span {
        display: none;
    }

    .advantages label, .disadvantages label {
        font-size: 13px;
    }

    .advantages label input, .disadvantages label input {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    .add_review_button {
        text-align: center;
    }
}

@media (max-width: 475px) {
    .container {
        max-width: 300px;
    }
    .hamburger {
        top: 40px;
        right: 20px;
    }

    .header_register-entry::before {
        left: -60px;
    }

    .header_add-revie::before {
        left: 20px;
    }

    .aside .categories span {
        font-size: 24px;
    }

    .tags li a {
        font-size: 12px;
    }

    .top-reviews .top-reviews_header {
        font-size: 24px;
    }

    .top-reviews .top-reviews_subheader {
        font-size: 13px;
    }

    .top-reviews .top-reviews_wrapper {
        margin-top: 20px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item  {
        width:  250px;
    }

    .top-reviews .top-reviews_wrapper .form_rating {
        width: 15px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_foto {
        left: -15px;
        top: 30px;
    }

    .foto {
        width: 60px;
        height: 60px;
    }

    .top-reviews .top-reviews_wrapper .top-reviews_item h2 {
        line-height: 17px;
        font-size: 17px;
        margin-bottom: 5px;
    }

    .text_review {
        line-height: 20px;
    }

    .footer_wrapper .footer_logo {
        width: 120px;
    }

    .footer_wrapper .footer_privacy {
        width: 90px;
    }

    .modal__dialog {
        width: 300px;
    }

    .modal__input {
        width: 200px;
    }

    .header_register-entry::before{
        left: 100px;
    }

    .header_add-revie::before {
        left: 190px;
    }

    .add_review_button {
        margin-top: 15px;
    }

    .review_wrapper h1 {
        text-align: center;
    }

    .tags_list .tag_item {
        margin-right: 9px;
    }

    .tag_item a {
        font-size: 10px;
    }

    .review_rating {
        left: 65%;
    }

    .review_foto {
        top: 52px;
        left: 10px;
    }

    .main_review_text::after {
        width: 120%;
    }

    .review_buttons .complain {
        visibility: hidden;
    }

    .review_buttons .complain::before {
        visibility: visible;
        left: 120px;
    }

    .review_buttons .dislike_number {
        margin-right: -92px;
    }

    .comment_text {
        line-height: 20px;
    }

    .main_comment .comment_name {
        display: block;
    }

    .main_comment .comment_date {
        margin: 0;
    }

    .reply_date {
        padding: 0;
        margin-bottom: 5px;
    }

    .reply_text {
        font-size: 15px;
        line-height: 15px;
    }

    .comment_add {
        width: 150px;
        height: 45px;
        margin-top: 15px;
    }


}


