* { box-sizing: border-box; }

body {
    background: #E5E5E5;
}

/* Хедер */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 78%;
    margin: 0 auto;
    padding: 23px 0 23px 0;
}

.header .header_logo {
    margin: auto;
}

.header .menu {
    margin: auto;
}

.header .menu .menu_list {
    display: flex;
    list-style: none;
}

.header .menu .menu_list .menu_item {
    font-family: Muller;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    padding-right: 70px;
}

.header .menu .menu_list .menu_item a {
    color: #333333;
    text-decoration: none;
}

.header .header_button {
    margin: auto;
}

.buttons {
    width: 203px;
    height: 47px;
    padding: 14px 18px;
    font-family: Muller;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background: #18A0FB;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover {
    background: #414753;
}

.header .header_button .header_register-entry {
    margin-left: 16px;
}

/* Конец хедера */

/* Главная часть. Главная страница */
.main {
    display: flex;
    max-width: 78%;
    margin: 0 auto;
    min-height: 495px;
    background-color: #FFFFFF;
}

.main .main_title {
    width: 40%;
    margin: auto;
}

.main .main_title .main_header {
    font-family: Muller;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #333333;
    margin-left: 100px;
}

.main .main_title .main_header span {
    color: #18A0FB;
}

.main .main_title .main_descr {
    font-family: Muller;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    margin-top: 46px;
    margin-left: 100px;
}

.main .main_image {
    width: 60%;
}

.main .main_image img {
    width: 100%;
}

.reviews {
    display: flex;
    max-width: 78%;
    margin: 0 auto;
    min-height: 495px;
    padding-top: 73px;
}

.top-reviews {
    width: 75%;
}

.top-reviews .top-reviews_header {
    font-family: Muller;
    font-weight: 700;
    font-size: 40px;
    color: #333333;
    margin: 0;
}

.top-reviews .top-reviews_subheader {
    font-family: Muller;
    font-weight: 500;
    font-size: 18px;
    color: rgba(85, 85, 85, 0.75);
    margin: 0;
    margin-top: 21px;
}

.top-reviews .top-reviews_wrapper {
    /* display: flex; */
    /* flex-wrap: wrap; */  
    margin-top: 98px;
}

.top-reviews .top-reviews_wrapper .top-reviews_item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 300px;
    width: 415px;
    margin-left: 90px;
    background-color: #fff;
    margin-bottom: 38px;
    padding-right: 36px;
    padding-bottom: 20px;
}

.name{
    font-family: Muller;
    font-weight: 400;
    font-size: 17px;
    color: #333333;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_name {
    margin: 33px 0 0 70px;
    display: inline-block;
}

/* Простой рейтинг */
.top-reviews .top-reviews_wrapper .form_rating {
    display: inline-block;
}

.simple_rating {
    position: relative;
    left: 100%;
    display: inline-block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}

.simple_rating::before {
    content: "★★★★★";
    display: block;
}

 .simple_rating_items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple_rating_item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple_rating_label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.simple_rating_label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple_rating_item:checked, 
.simple_rating_item:checked ~ .simple_rating_label {
    color: #f6fa0a;
}

.simple_rating_label:hover,
.simple_rating_label:hover ~ .simple_rating_label, 
.simple_rating_label:checked ~ .simple_rating_items .simple_rating_label:hover {
    color: #d3ff75;
}
/* Конец рейтинга */

.top-reviews .top-reviews_wrapper .top-reviews_item  .top-reviews_foto {
    position: absolute;
    left: -43px;
    top: 32px;
}

.foto {
    width: 77px;
    height: 77px;
}

.foto img {
    width: 100%;
    border-radius: 50%;
}

.top-reviews .top-reviews_wrapper .top-reviews_item h2 {
    display: block;
    font-family: Muller;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    width: 324px;
    margin: 7px 0 0 70px;
}

.review_about {
    font-family: Muller;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
}

.date {
    font-family: Muller;
    font-weight: 400;
    font-size: 16px;
    color: rgba(139, 139, 139, 0.89);
}

.top-reviews .top-reviews_wrapper .top-reviews_item time {
    margin: 14px 0 0 70px;
}

.text_review {
    position: relative;
    font-family: Muller;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(68, 68, 68, 0.8);
}
.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_text {
    margin: 14px 0 0 111px;
    padding-bottom: 30px;
}

.text_review::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -7px;
    background: url(../icons/quotes.svg) center center no-repeat;
    width: 53px;
    height: 33px;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_text::after {
    content: "";
    width: 120%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
    position: absolute;
    bottom: 5%;
    left: -20%;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 30px 0 0 141px;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_number {
    font-family: Muller;
    font-weight: 400;
    font-size: 17px;
    color: #444444;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_number::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* top: -10px; */
    left: -30px;
    background: url(../icons/comment.svg) center center no-repeat;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_plus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #18A0FB;
    border-radius: 50%;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_plus:hover {
    background: #F25F5C;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_plus::before {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}

.top-reviews .top-reviews_wrapper .top-reviews_item .top-reviews_comments .comments_plus::after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 2px;
    height: 16px;
    background-color: #ffffff;
}

.top-reviews .top-reviews_button {
    display: block;
    margin: 0 auto;
}
/* Конец гавной части. Главная страница*/
/* Боковая панель с фильтрами и поиском. Главная страница*/
.aside {
    width: 25%;
}

/* Поиск*/
.aside .search form {
    position: relative;
}

.search input {
    display: block;
    width: 100%;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 25px;
}

.search button {
    position: absolute;
    top: 28px;
    left: 87%;
    background: url(../icons/search.svg) center center no-repeat;
    width: 19px;
    height: 19px;
    border: none;
    cursor: pointer;
}

/* Конец поиска */

.aside .categories span {
    display: block;
    font-family: Muller;
    font-weight: 700;
    font-size: 31px;
    color: #333333;
    margin-top: 55px;
}

.aside .categories .review_theme {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 45px 0 0 0;
}

.aside .categories .review_theme li {
    margin-right: 10px;
    margin-bottom: 17px;
}

.tags li {  
    display: block;
    background-color: #E8E8E8;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 13px 26px;
}

.tags li a {
    font-family: Muller;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
}

.aside_adv {
    margin-top: 111px;
}

.aside_adv img {
    width: 100%;
    height: 694px;
}

.adv {
    width: 1500px;
    height: 189px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Футер */

footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 78%;
    margin: 60px auto 80px auto;
}

footer .footer_wrapper .footer_logo {
    width: 255px;
    height: 81px;
}

footer .footer_wrapper .footer_support {
    margin: auto 0;
}

footer .footer_wrapper .footer_privacy {
    margin: auto 0;
}

footer .footer_wrapper .footer_support a, footer .footer_wrapper .footer_privacy a {
    font-family: Muller;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-decoration: underline;
}

/* Конец футера */


/* СТРАНИЦА С ОТЗЫВОМ */

.review {
    position: relative;
    max-width: 78%;
    margin: 0 auto;
}

.review::before {
    content: "";
    position: absolute;
    top: -30px;
    width: 1500px;
    height: 1px;
    background-color: #E8E8E8;
}

.main_review {
    background-color: #FFFFFF;
    margin-top: 65px;
}

.tags_list {
    display: flex;
    margin: 61px 0 0 0;
    padding: 0;
} 

.tags_list .tag_item{
    margin-right: 20px;
}
